<div class="row tasks">
    <h1>Tasks List</h1>
    <%= link_to "+ New Task", new_task_path, class: "button radius" %>
    <% @tasks.each do |task| %>
    <div class="task-item panel">
        <div class="task-item">
            <h2><%= task.title %></h2>
            <%= link_to "See Details", task_path(task) %>
            <p>Created by <%= task.creator.email %></p>
            </ul>
        </div>
    </div>
    <% end %>
</div>
