.top-bar {
  box-shadow: 2px solid $prynt-dark-orange;

  i.fa-home {
    line-height: rem-calc(45);
  }
}

.sub-nav-bg {
  background-color: $gray;
  transform: translateY(-($main-margin-top));
}

.sub-nav {
  background-color: $gray;
  font-weight: lighter;
  padding-top: 7px;
  padding-bottom: 7px;

  dd {
    margin-left: 0;
    margin-right: 1.5rem;

    a {
      color: $gray;
      padding-left: .5rem;
      padding-right: .5rem;
      &:hover {
            background: white;
            color: $medium-gray;
          }
    }
  }
}
