<header>
  <div class="row masthead">
    <div class="small-12 columns">

      <div class="row logo-container">
        <h2 class="subtitle column"><strong>PRYNT</strong> | TASK MANAGER</h2>
      </div>
    </div>
  </div>
</header>
